OPENAI_API_KEY =
SLASH = /
OPENAI_BASE_URL = https:$(SLASH)$(SLASH)gateway.ai.cloudflare.com$(SLASH)v1$(SLASH)a0ad899a5847234934db5c6a4647a764$(SLASH)1$(SLASH)openrouter$(SLASH)v1$(SLASH)
TEXT_MODEL_ID = deepseek/deepseek-v3.2
ATOMIZATION_MODEL_ID = deepseek/deepseek-v3.2
VISION_MODEL_ID = qwen/qwen3-vl-8b-instruct
